@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640413605000') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-youjiantou:before {
  content: "\e63e";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-youjiantou1:before {
  content: "\f034f";
}

.icon-zuojiantou:before {
  content: "\f0350";
}

